/* FAQ.css */

.content {
  margin: 0 auto;
  /* padding-top: 5rem; */
  width: 78rem;
  padding-top: 2rem;
}
  
  
  h2 {
    font-size: 31px;
    color: #333;
    padding-top: 3rem;
    
  }
  
  ol {
    list-style: decimal;
    padding-left: 20px;
  }
  
   nav li {
    margin-bottom: 0px;
    border-bottom: 1px solid #9e3737;
    padding-bottom: 19px;
    font-size: 30px;
    font-size: 30px;
    
}
  
  
  strong {
    font-weight: bold;
    color: #007bff; /* Blue color */
  }
  
  p {
    margin: 0;
    color: #666;
  }
  @media screen and (max-width: 415px){
    .content {
      width: 23rem;
      padding-top: 18rem;
    }
  }