/* FAQ.css */

.content {
  max-width: 800px;
  margin: 0 auto;
  padding: 97px;
  }
  
  h2 {
    font-size: 24px;
    color: #333;
  }
  
  ol {
    list-style: decimal;
    padding-left: 20px;
  }
  
   nav li {
    margin-bottom: 15px;
    border-bottom: 2px solid #9e3737;
    padding-bottom: 19px;
    font-size: 19px;
    
}
  
  
  strong {
    font-weight: bold;
    color: #007bff; /* Blue color */
  }
  
  p {
    margin: 0;
    color: #666;
  }
  