.content {
  background-color: #f9f9f9;
  padding: 20px;
  /* border-radius: 10px; */
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  text-align: left;
}
  
  .content h2 {
    color: #003366;
    font-size: 2rem;
    margin-bottom: 2rem;
    padding-left: 2rem;
  }
  
  .content h3 {
    color: #555;
    font-size: 2rem;
    margin-top: 1rem;
  }
  
  .content ul {
    margin: 10px 0;
    padding-left: 20px;
  }
  
  .content li {
    color: #333;
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 1rem;
  }
  
  .content p {
    color: #555;
    font-size: 1rem;
    line-height: 1;
    margin-bottom: 1rem;
  }
  
  .content a {
    color: #003366;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .content a:hover {
    color: #ffd700;
  }
  