/* src/App.css */

body {
  margin: 0;
  font-family: Arial, sans-serif;
}
*, *:before, *:after {
  box-sizing: inherit;
    scroll-behavior: smooth;
}

.App {
  text-align: center;
    padding: 20px;
    background-color: #f8f8f8;
    min-height: 100vh;
    padding-right: 0px;
    padding-top: 4px;
    padding-left: 0px;
}

.App-header {
  background-color: #003366;
  color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

 nav ul {
  list-style: none;
    display: block;
    background-color: #d6d5d5;
   
    padding-top: 20px;
    padding-left: 60px;
    padding-right: 71px;
}



nav a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  transition: color 0.3s;
}

nav a:hover {
  color: #ffffff;
}

section {
  padding: 40px 0;
  scroll-behavior: smooth;
}

footer {
  margin-top: 20px;
  padding: 10px;
  background-color: #003366;
  color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

footer a {
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s;
}

footer a:hover {
  color: #ffd700;
}

#about-us {
  background-color: #ffffff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: left;
  margin-bottom: 40px;
}

#about-us h2 {
  color: #003366;
  font-size: 28px;
  margin-bottom: 20px;
}

#about-us h3 {
  color: #003366;
  font-size: 24px;
  margin-top: 30px;
}

#about-us p {
  color: #333;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 20px;
}


#catalog {
  background-color: #
  ffffff;
  padding-top: 67px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: left;
  margin-bottom: 40px;
  padding-left: 47px;
}

#catalog h2 {
  color: #003366;
  font-size: 28px;
  margin-bottom: 20px;
}

#catalog p {
  color: #333;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 20px;
}

#catalog ul {
  color: #333;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 20px;
  padding-left: 20px;
}

#catalog a {
  color:  #bd2e32;
  text-decoration: none;
  transition: color 0.3s;
}

#catalog a:hover {
  color: #ffd700;
}
#welcome {
  background-color: #ffffff;
  padding-left: 21px;
  border-radius: 10px;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  text-align: left;
  /* margin-bottom: px; */
  padding-top: 19px;
}

#welcome h2 {
  color: #bf3337;
  font-size: 36px;
  margin-bottom: 20px;
  font-family: minion-pro,serif;
}

#welcome p {
  color: #343434;
  font-size: 18px;
  line-height:  2.1;
  margin-bottom: 20px;
  font-weight: 600;
}


#resources {
  background-color: #ffffff;
  
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: left;
  margin-bottom: 40px;
  padding-left: 26px;
}

#resources h2 {
  color: #003366;
  font-size: 28px;
  margin-bottom: 20px;
}

#resources p,
#resources ul {
  color: #333;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 20px;
}

#resources a {
  color: #003366;
  text-decoration: none;
  transition: color 0.3s;
}

#resources a:hover {
  color: #ffd700;
}


.employee-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.employee-table th,
.employee-table td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

.employee-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.contact-details {
  background-color: #ffffff;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-top: 20px;
}

.contact-details h3 {
  color: #003366;
  font-size: 24px;
  margin-bottom: 10px;
}

.contact-details p {
  color: #333;
  font-size: 18px;
  line-height: 1.6;
}

.contact-details strong {
  font-weight: bold;
}

.contact-details a {
  color: #003366;
  text-decoration: none;
  transition: color 0.3s;
}

.contact-details a:hover {
  color: #ffd700;
}

.notification-box {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 300px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: width 0.3s;
}

.notification-box.collapsed {
  width: 60px;
}

.collapse-button {
  display: block;
  width: 100%;
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 15px 15px 15px;
  font-weight: bold;
  text-align: left;
  cursor: pointer;
  
}
.collapse-button:hover {
  background-color: #34495e; 
}

.notification-content {
  padding: 10px;
}


.header-container {
  position: relative;
  text-align: center;
}

.image-background {
  /* background-image: url('clgimg.jpg'); */
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 540px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height:100%;
  background-color: rgba(0, 0, 0, 0.2); /* Semi-transparent black layer */
}

.header-container h1 {
  position: absolute;
    top: 55%;
    left: 53%;
    transform: translate(-115%, -50%);
    font-size: 55px;
    color: #fff;
    z-index: 1;
}

.header-container p{
  font-size: 25px;
    color: white;
    padding-left: 10px;
    padding-right: 355px;
    padding-top: 167px;
    font-family: minion-pro,serif;
}
@keyframes slide-up{
  0%{
    transform:translateY(100%);
  }
  100%{
    transform:translateY(0);
  }
}

.welcome-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3em; /* Larger font size */
  font-family: minion-pro,serif;
  color: #fff;
  z-index: 1; /* Bring the text above the overlay layer */
  opacity: 1; /* Start with opacity 0 */
  /* animation: fadeIn 2s forwards; */
  /* animation: slideIn 2s forwards, fadeIn 2s forwards; */
}

/* Keyframes for the slide-in animation */
@keyframes slideIn {
  0% { left: -100%; }
  100% { left: 50%; }
}

/* Keyframes for the fade-in animation */
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
/* Navbar styles */
.navbar {
  position: fixed;
  top: 0;
  height: 81px;
  width: 1520px;
  background-color: #f5f5f5;
  color: #fff;
  padding: 0px 3px;
  z-index: 1000;
  display: flex;
  padding-right: 8px;
}

.logo a {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}

.nav-links {
  list-style: none;
    display: flex;
    margin: 0;
    padding-left: 147px;
    padding-right: 31px;
    justify-content: center;
    align-items: center;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links li:last-child {
  margin-right: 0;
}

.nav-links a {
  color: #bd2e32;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
    padding-left: 34px;
    font-size: x-large;
}

.nav-links a:hover {
  color: #ffd700;
}

/* Dropdown menu styles */
.dropdown {
  position: relative;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  color: #333;
  padding: 10px 15px;
  display: block;
  text-decoration: none;
  transition: background-color 0.3s;
  border-bottom: 1px solid #ccc;
  font-size: 14px;
}

.dropdown-content a:hover {
  background-color: #f4f4f4;
}
/* Assuming a class name for your logo container */
/* Assuming a class name for your logo container */
.logo img {
  max-width: 1000px;
  height: 77px;
  padding-left: 262px;/* Center the image vertically within the container */
}
.klelogo{
  width: 74px;
  padding-left: 3px;
}

.navbarlist{
  display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 2px 5px rgb(0 0 0 / 53%);
    height: 385px;
    padding-top: 30px;
    font-family: minion-pro,serif;
    position: sticky;
    top: 100px;

}
.contentcontainer{
  flex: 1; /* Allow the scrollable content to fill the remaining space */
    background-color: #fff;
    padding: 20px;
    overflow-y: auto;
    box-sizing: inherit;
    scroll-behavior: smooth;
}
.flex-containers{
  display: flex;
  justify-content: space-between;
  display: flex;
  justify-content: space-between;
  width: -16px;
  /* padding-left: 29px; */
  height: 560px;
}

.testimonials2{
  padding-left: 10px;
}
.HugeIcon{
  font-size: 48px;
}
.space{
  text-indent: 70px;
  color: #343434;
  
}
.fsize{
  font-size: 27px;
    color: #bd2e32;
    font-family: minion-pro,serif;
    font-weight: bold;
    padding-bottom: 10px;
}
.Resources{
  color: #bf3337;
    font-size: 44px;
    margin-bottom: 20px;
    font-family: minion-pro,serif;
}
.reslinks {
  color: #bf3337;
  font-weight: 600;
}
.reshover :hover{
  color: yellow;
}
/* .remoteimage{
  
} */

.fontchange{
  color: #003366;
  font-size: 28px;
  margin-bottom: 20px;
}

/* #resoures h3{
  font-size: 50px;
} */


.testimonials1{
  width: 401px;
  padding-left: 372px;
}
